$primary-blue: #296DC1;
$white-title: #fff;
$white-subtitle: #e0ecec;
$gray-title: #7d7f83;
$gray-subtitle: #242e38;
$categories-border: rgb(34, 48, 75);
$black-title: #242e38;
$menu-color: #242e38;
$header-background: #F0F8FF;
