@import '/src/assets/scss/colors';

.search-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .search-bar-options {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        .search-bar-option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .search-bar-option-text {
                margin: 0;
                color: $menu-color;
                font-weight: 500;
                font-size: calc(12px + 4*((100vw - 420px) / 980));
            }
        }
    }

    .search-bar-input-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        .search-bar-input {
            height: 45px;
        }
    }

    .search-bar-menu-container {
        display: none;
        .search-bar-menu{
            width: 50px;
            height: 50px;
        }
    }
}

@media (min-width: 1500px) {
    .search-bar {
        width: 1480px;
    }
}

@media (max-width: 1440px) {
    .search-bar {
        width: 1320px;
    }
}

@media (max-width: 1230px) {
    .search-bar {
        width: 1120px;
    }
}

@media (max-width: 1024px) {
    .search-bar {
        width: 1000px;
    }
}

@media (max-width: 900px) {
    .search-bar {
        width: 750px;

        .search-bar-options {
            display: none;
        }

        .search-bar-menu-container {
            display: flex;
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .search-bar {
        width: 550px;

        .search-bar-options {
            display: none;
        }

        .search-bar-menu-container {
            display: flex;
            align-items: center;
        }
    }
}

@media (max-width: 450px) {
    .search-bar {
        width: 400px;
        padding: 0 10px;

        .search-bar-options {
            display: none;
        }

        .search-bar-menu-container {
            display: flex;
            align-items: center;
        }
        .search-bar-input-container {
            padding: 20px 25px;
        }
    }
}

/* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
@media (max-width: 320px) {
    .search-bar {
        width: 300px;
        padding: 0;

        .search-bar-options {
            display: none;
        }

        .search-bar-menu-container {
            display: flex;
            align-items: center;
        }
        .search-bar-input-container{
            padding: 20px 10px;
        }
    }
}