.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;

    .header-icons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;        

        .header-icons-divider {
            height: 30px;
            width: 1px;
            background: #2e3033;
        }

        .header-icons-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background: #fcfeff;
        }
    }
}