@import '/src/assets/scss/colors';

.home-container {
    .home-banner {
        position: relative;
        width: 100%;
        max-height: 400px;
        /* Puedes ajustar la altura según tus necesidades */
        overflow: hidden;

        .home-banner-background {
            width: 100%;
            height: auto;
            display: block;
        }

        .home-banner-text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $white-title;
            width: 100%;
            font-size: calc(12px + 4 * ((100vw - 420px) / 980));
            display: flex;
            justify-content: center;

            .home-banner-text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .home-banner-deals{
                    margin: 0;
                }
                .home-banner-discounts{
                    margin: 0;
                }
                .home-banner-cto{
                    margin: 0;
                }
                .home-banner-button {
                    width: 150px;
                    align-self: center;
                }
            }
            @media (max-width: 500px) {
                .home-banner-text {
                    gap: 0;
                }                
            }
        }

        @media(max-width: 500px) {
            .home-banner-text-overlay {
                font-size: 0.2em;
            }
        }
    }

    .home-cards-container {
        margin: 10px 0;
        display: grid;
        gap: 1rem;

        .home-cards-card {
            display: flex;
            position: relative;

            .home-cards-text {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 230px;
                font-size: 2.5em;
                z-index: 1;
            }

            .home-cards-button {
                position: absolute;
                top: 40%;
                left: 20%;
                z-index: 1;
            }

            .home-cards-image-container {
                overflow: hidden;

                .home-cards-image {
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: transform 0.3s ease;
                }

                &:hover .home-cards-image {
                    transform: scale(1.1);
                    /* Scale image on hover by 110% */
                }
            }
        }

        .home-card-blue {
            background: $primary-blue;

            .home-cards-text {
                .home-cards-title {
                    font-size: calc(14px + 4*((100vw - 420px) / 980));
                    color: $white-title;
                    font-weight: 500;
                    text-align: left;
                }

                .home-cards-content {
                    font-size: calc(12px + 4*((100vw - 420px) / 980));
                    color: $white-subtitle;
                    font-weight: 600;
                    text-align: left;
                }
            }
        }

        .home-card-gray {
            background: rgba(161, 207, 201, 0.61);

            .home-cards-text {
                .home-cards-title {
                    font-size: calc(14px + 4*((100vw - 420px) / 980));
                    color: $gray-title;
                    font-weight: 500;
                    text-align: left;
                }

                .home-cards-content {
                    font-size: calc(12px + 4*((100vw - 420px) / 980));
                    color: $gray-subtitle;
                    font-weight: 600;
                    text-align: left;
                }
            }
        }
    }

    /** Media screens **/
    @media (min-width: 1230px) {
        .home-cards-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 1024px) {
        .home-cards-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 900px) {
        .home-cards-container {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    @media (max-width: 576px) {
        .home-cards-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    @media (max-width: 450px) {
        .home-cards-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
    @media (max-width: 320px) {
        .home-cards-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    .home-ads {
        height: 50px;
    }

    .home-categories-container {
        display: flex;
        justify-content: center;

        .home-categories-sections {
            display: flex;
            justify-content: space-between;

            .home-categories-left {
                margin: 0 20px;
                display: grid;
                grid-template-columns: repeat(3, 300px);
                gap: 1em;

                .home-categories-category {
                    border: 1px solid $categories-border;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease-in-out;

                    .home-categories-icon {
                        width: 50px;
                        height: 50px;
                    }

                    .home-categories-text {
                        font-size: calc(12px + 4*((100vw - 420px) / 980));
                    }
                }

                .home-categories-category:hover {
                    cursor: pointer;
                    background-color: $primary-blue;
                    transition: background-color 0.5s ease-in-out;

                    .home-categories-text {
                        color: $white-subtitle;
                        text-decoration: underline;
                        transition: text-decoration 0.5s ease-in-out;
                    }
                }
            }

            .home-categories-right {
                position: relative;
                background: $primary-blue;

                .home-categories-text {
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    font-size: 2.5em;

                    .home-categories-title {
                        color: $white-title;
                    }

                    .home-categories-subtitle {
                        color: $white-subtitle;
                    }
                }

                .home-categories-images {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }

        @media (max-width: 1100px) {
            .home-categories-sections {
                width: 800px;
                padding: 0 10px;

                .home-categories-left {
                    margin: 0px;
                    grid-template-columns: repeat(3, 150px);
                }
            }
        }

        @media (max-width: 500px) {
            .home-categories-sections {
                flex-direction: column;
                padding: 0 10px;

                .home-categories-left {
                    margin: 20px 0;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 150px);
                }
            }
        }
    }

    .home-products-container {
        display: flex;
        justify-content: center;

        .home-products-sections {
            .home-products-header {
                display: flex;
                justify-content: space-between;

                .home-products-header-left {
                    font-size: calc(14px + 4*((100vw - 420px) / 980));
                    font-weight: 600;
                    color: $gray-title;
                }

                .home-products-header-right {
                    display: flex;

                    .home-products-header-right-text {
                        margin: 0 10px;
                        font-size: calc(12px + 4*((100vw - 420px) / 980));
                        color: $gray-subtitle;
                        font-weight: 400;
                    }

                    .home-products-header-right-text:hover {
                        color: $primary-blue;
                        cursor: pointer;
                    }

                    .underline-hover {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            top: 20px;
                            left: 0;
                            width: 0%;
                            height: 2px;
                            background-color: $primary-blue;
                            /* Color del subrayado */
                            transition: width 0.3s ease-in-out;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }

            .product-card {
                margin: 20px 0;
                width: 250px;
                cursor: pointer;

                .product-card-image {
                    width: 100%;
                    height: 250px;
                }

                .product-card-content {
                    .product-card-title {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        @media (min-width: 1230px) {
            .home-products-sections {
                max-width: 1200px;
            }
        }

        @media (max-width: 1024px) {
            .home-products-sections {
                max-width: 960px;

                .product-card {
                    margin: 0 0px;
                    width: 300px;

                    .product-card-image {
                        height: 300px;
                    }
                }
            }
        }

        @media (max-width: 900px) {
            .home-products-sections {
                max-width: 720px;

                .product-card {
                    margin: 0 0px;
                    width: 200px;

                    .product-card-image {
                        height: 200px;
                    }
                }
            }
        }

        @media (max-width: 576px) {
            .home-products-sections {
                max-width: 540px;

                .product-card {
                    margin: 0 0px;
                    width: 300px;

                    .product-card-image {
                        height: 300px;
                    }
                }
            }
        }

        @media (max-width: 450px) {
            .home-products-sections {
                max-width: 300px;

                .product-card {
                    margin: 0 0px;
                    width: 300px;

                    .product-card-image {
                        height: 300px;
                    }
                }
            }
        }

        /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
        @media (max-width: 320px) {
            .home-products-sections {
                max-width: 280px;

                .product-card {
                    margin: 0 0px;
                    width: 300px;

                    .product-card-image {
                        height: 300px;
                    }
                }
            }
        }

    }

    .home-discounts-container {
        display: flex;
        justify-content: center;

        .home-discounts-sections {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            .home-discounts-card {
                position: relative;

                .home-discounts-image {
                    width: 100%;
                }

                .home-discounts-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: #fff;
                    width: 100%;
                    font-size: 2.5em;
                }
            }
        }

        @media (min-width: 1230px) {
            .home-discounts-sections {
                max-width: 1200px;
                flex-direction: row;
            }
        }

        @media (max-width: 1024px) {
            .home-discounts-sections {
                max-width: 960px;
                flex-direction: row;
            }
        }

        @media (max-width: 900px) {
            .home-discounts-sections {
                max-width: 720px;
                flex-direction: row;
            }
        }

        @media (max-width: 576px) {
            .home-discounts-sections {
                max-width: 540px;
                flex-direction: column;
            }
        }

        @media (max-width: 450px) {
            .home-discounts-sections {
                max-width: 300px;
                flex-direction: column;
            }
        }

        /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
        @media (max-width: 320px) {
            .home-discounts-sections {
                max-width: 280px;
                flex-direction: column;
            }
        }
    }

    .home-catalogs-container {
        display: flex;
        justify-content: center;

        .home-catalogs-sections {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            .home-catalogs-left {
                margin: 0 10px;
                position: relative;
                background: rgba(161, 207, 201, 0.61);

                .home-catalogs-image {
                    width: 100%;
                    height: 100%;
                }

                .home-catalogs-text {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    font-size: 2.5em;

                    .home-catalogs-title {
                        color: #181111e3;
                    }

                    .home-catalogs-subtitle {
                        color: #032544f1;
                    }
                }
            }

            .home-catalogs-right {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .home-catalogs-title {
                    font-weight: 600;
                    font-size: calc(14px + 4*((100vw - 420px) / 980));
                    color: #000;
                }

                .home-catalogs-card {
                    width: 280px;
                    box-shadow: none;

                    .home-catalogs-header {
                        padding: 10px;

                        .home-catalogs-title-group {
                            width: fit-content !important;
                            gap: 1rem;

                            .home-catalogs-image {
                                border: solid 0.5px $categories-border;
                            }

                            .home-catalogs-titles {
                                display: flex;
                                flex-direction: column;

                                .home-catalogs-title-nombre {
                                    font-size: 15px !important;
                                    width: 150px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: $gray-title;
                                }

                                .home-catalogs-title-precio {
                                    color: $primary-blue !important;
                                }
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                        transition: box-shadow 0.5s ease-in-out;
                        /* Increased shadow on hover */
                    }
                }

                .home-catalogs-card:hover {
                    cursor: pointer;
                }
            }
        }

        @media (min-width: 1230px) {
            .home-catalogs-sections {
                max-width: 1200px;
                flex-direction: row;
            }
        }

        @media (max-width: 1024px) {
            .home-catalogs-sections {
                max-width: 960px;
                flex-direction: row;
            }
        }

        @media (max-width: 900px) {
            .home-catalogs-sections {
                max-width: 720px;
                flex-direction: column;
            }
        }

        @media (max-width: 576px) {
            .home-catalogs-sections {
                max-width: 540px;
                flex-direction: column;
            }
        }

        @media (max-width: 450px) {
            .home-catalogs-sections {
                max-width: 300px;
                flex-direction: column;
            }
        }

        /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
        @media (max-width: 320px) {
            .home-catalogs-sections {
                max-width: 280px;
                flex-direction: column;
            }
        }
    }

    .home-blogs-container {
        display: flex;
        justify-content: center;

        .home-blogs-articles {
            display: flex;
            justify-content: space-around;
            gap: 1rem;

            .home-blogs-card {
                width: 350px;
                box-shadow: none;

                .home-blogs-image {
                    width: 100%;
                }

                &:hover {
                    box-shadow: var(--mdc-elevated-card-container-elevation);
                    transition: box-shadow 0.5s ease-in-out;
                }

                .home-blogs-content {
                    padding: 16px;

                    .home-blogs-date {
                        color: $primary-blue;
                        font-weight: 400;
                        font-size: calc(12px + 4 * ((100vw - 420px) / 980));
                        font-style: normal;
                    }

                    .home-blogs-title {
                        color: $black-title;
                        font-weight: 600;
                        font-size: calc(14px + .0025*(100vw - 320px));
                        font-style: normal;
                    }

                    .home-blogs-extact {
                        color: $gray-title;
                        font-size: calc(12px + 4 * ((100vw - 420px) / 980));
                        font-weight: 400;
                        font-style: normal;
                    }
                }
            }
        }

        @media (min-width: 1230px) {
            .home-blogs-articles {
                max-width: 1200px;
                flex-direction: row;
            }
        }

        @media (max-width: 1024px) {
            .home-blogs-articles {
                max-width: 960px;
                flex-direction: row;

                .home-blogs-card {
                    width: 300px;
                }
            }
        }

        @media (max-width: 900px) {
            .home-blogs-articles {
                max-width: 720px;
                flex-direction: row;

                .home-blogs-card {
                    width: 200px;
                }
            }
        }

        @media (max-width: 576px) {
            .home-blogs-articles {
                max-width: 540px;
                flex-direction: column;

                .home-blogs-card {
                    width: 280px;
                }
            }
        }

        @media (max-width: 450px) {
            .home-blogs-articles {
                max-width: 300px;
                flex-direction: column;

                .home-blogs-card {
                    width: 280px;
                }
            }
        }

        /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
        @media (max-width: 320px) {
            .home-blogs-articles {
                max-width: 280px;
                flex-direction: column;

                .home-blogs-card {
                    width: 280px;
                }
            }
        }
    }

    .home-features-container {
        display: grid;

        .home-feature {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: #E7E9EE solid 1px;
            padding: 0 5px;
            height: 120px;

            .home-feature-icon {
                width: 50px;
                height: 50px;
            }

            .home-feature-title {
                font-weight: 500;
                font-size: 14px;
                text-transform: capitalize;
                margin: 0;
            }

            .home-feature-text-container {
                padding: 0 10px;

                .home-feature-text {
                    font-size: 12px;
                    color: #465058f1;
                    margin: 0;
                }
            }
        }
    }

    @media (min-width: 1230px) {
        .home-features-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1024px) {
        .home-features-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 900px) {
        .home-features-container {
            grid-template-columns: repeat(3, 1fr);

        }
    }

    @media (max-width: 576px) {
        .home-features-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    @media (max-width: 450px) {
        .home-features-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    /* Añade una regla de medios para pantallas pequeñas (por debajo de 320px) */
    @media (max-width: 320px) {
        .home-features-container {
            grid-template-columns: repeat(1, 1fr);

        }
    }
}