@import '/src/assets/scss/colors';

.collection-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .collection-view-content {
        width: 100%;
        margin: 150px 0;
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        gap: 2rem;

        .collection-view-options {
            .collection-view-options-title {
                text-transform: uppercase;
                letter-spacing: -.05em;
                font-weight: 700;
                font-size: 18px;
            }

            .collection-view-options-container {
                list-style: none;
                padding: 0;

                .collection-view-options-name {
                    position: relative;

                    .collection-view-options-ref {
                        letter-spacing: -.05em;
                        position: relative;
                        line-height: 1.7em;
                        color: $black-title;
                        font-weight: 500;
                        text-decoration: none;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $primary-blue;
                            color: $primary-blue;
                            transition: width 0.5s ease-in-out;
                            transform-origin: bottom left;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .collection-view-main {
            display: grid;
            gap: 1rem;

            .collection-view-main-banner {
                position: relative;

                .collection-view-main-image {
                    width: 300px;
                    height: auto;
                }

                .collection-view-main-title-container {
                    position: absolute;
                    top: 70%;
                    left: 20%;
                    transform: translate(-50%, -50%);

                    .collection-view-main-title {
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $gray-title;
                        margin: 0;
                        line-height: 1.4em;
                        font-size: 28px;
                    }
                }

                @media (max-width: 991px) {
                    .collection-view-main-title-container {
                        .collection-view-main-title {
                            font-size: 20px;
                        }
                    }
                }

                @media (max-width: 1300px) {
                    .collection-view-main-title-container {

                        .collection-view-main-title {
                            font-size: 28px;
                        }
                    }
                }

                @media screen and (max-width: 320px) {
                    .collection-view-main-title-container {

                        .collection-view-main-title {
                            font-size: 24px;
                        }
                    }
                }

                @media screen and (max-width: 420px) {
                    .collection-view-main-title-container {

                        .collection-view-main-title {
                            font-size: 16px;
                        }
                    }
                }
            }

            .collection-view-main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .collection-view-main-sort-container {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .collection-view-main-sort-text {
                        margin: 0;
                        font-weight: 700;
                        font-size: 16px;
                    }

                    .collection-view-main-sort-input {
                        height: 40px;
                    }
                }

                .collection-view-main-quantity-items {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 300;
                    color: $gray-title;
                }
            }

            @media (max-width: 576px) {
                .collection-view-main-menu {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .collection-view-main-items {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(4, 1fr);

                .collection-view-main-product-card {
                    .collection-view-main-product-card-image-container {
                        display: flex;
                        justify-content: center;
                        padding: 5px;
                        cursor: pointer;
                    }

                    .collection-view-main-product-card-content {
                        .collection-view-main-product-card-title {
                            font-weight: 500;
                            font-size: inherit;
                            color: $gray-title;
                        }

                        .collection-view-main-product-card-price {
                            color: $primary-blue;
                        }

                        .collection-view-main-product-card-buttons-container {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }

                        @media (max-width: 576px) {
                            .collection-view-main-product-card-buttons-container {
                                .collection-view-product-card-button {
                                    width: 100px;
                                    height: 40px;
                                    font-size: 11px;

                                    mat-icon {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 992px) {
                .collection-view-main-items {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            @media (max-width: 768px) {
                .collection-view-main-items {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            .collection-view-product-card-horizontal-container {
                display: grid;
                gap: 1rem;

                .collection-view-product-card-horizontal {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                    padding: 10px;

                    .collection-view-product-card-horizontal-image {
                        cursor: pointer;
                    }

                    .collection-view-product-card-horizontal-titles {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .collection-view-product-card-horizontal-title-nombre {
                            color: $gray-title;
                            font-size: 24px;
                            margin: 0;
                        }

                        .collection-view-product-card-horizontal-title-precio {
                            color: $primary-blue;
                            font-size: 22px;
                            margin: 0;
                        }

                        .collection-view-product-card-horizontal-title-description {
                            color: $gray-title;
                            font-size: 14px;
                            margin: 0;
                        }

                        .collection-view-product-card-horizontal-title-button-container {
                            display: flex;
                            justify-content: end;
                        }

                        @media (max-width: 576px) {
                            .collection-view-product-card-horizontal-title-button-container {
                                .collection-view-product-card-horizontal-title-button {
                                    width: 100px;
                                    height: 40px;
                                    font-size: 11px;

                                    mat-icon {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    @media (min-width: 1230px) {
                        .collection-view-product-card-horizontal-titles {
                            .collection-view-product-card-horizontal-title-nombre {
                                font-size: 24px;
                            }

                            .collection-view-product-card-horizontal-title-precio {
                                font-size: 22px;
                            }

                            .collection-view-product-card-horizontal-title-description {
                                font-size: 14px;
                            }
                        }
                    }

                    @media (max-width: 992px) {
                        .collection-view-product-card-horizontal-titles {
                            .collection-view-product-card-horizontal-title-nombre {
                                font-size: 24px;
                            }

                            .collection-view-product-card-horizontal-title-precio {
                                font-size: 22px;
                            }

                            .collection-view-product-card-horizontal-title-description {
                                font-size: 14px;
                            }
                        }
                    }

                    @media (max-width: 768px) {
                        .collection-view-product-card-horizontal-titles {
                            .collection-view-product-card-horizontal-title-nombre {
                                font-size: 24px;
                            }

                            .collection-view-product-card-horizontal-title-precio {
                                font-size: 22px;
                            }

                            .collection-view-product-card-horizontal-title-description {
                                font-size: 14px;
                            }

                        }
                    }

                    @media (max-width: 576px) {
                        .collection-view-product-card-horizontal-titles {
                            .collection-view-product-card-horizontal-title-nombre {
                                font-size: 12px;
                            }

                            .collection-view-product-card-horizontal-title-precio {
                                font-size: 11px;
                            }

                            .collection-view-product-card-horizontal-title-description {
                                display: none;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1230px) {
        .collection-view-content {
            max-width: 1200px;
            grid-template-columns: 0.3fr 1fr;
        }
    }

    @media (max-width: 992px) {
        .collection-view-content {
            max-width: 960px;
            grid-template-columns: 0.3fr 1fr;
        }
    }

    @media (max-width: 768px) {
        .collection-view-content {
            max-width: 720px;
            grid-template-columns: 0.3fr 1fr;
        }
    }

    @media (max-width: 576px) {
        .collection-view-content {
            max-width: 540px;
            flex-direction: column-reverse;
            grid-template-columns: 1fr;

            .collection-view-options:nth-child(1) {
                order: 2;
            }

            .collection-view-main:nth-last-child(2) {
                order: 1;
            }
        }
    }
}