<mat-drawer-container class="app-container" [hasBackdrop]="true">
    <mat-drawer class="app-mat-drawer" #drawer mode="over">
        <div class="app-menu">
            <div class="app-menu-header">
                <button (click)="closeDrawer(false)" mat-icon-button aria-label="Example icon button with a menu icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="menu__content">
                <mat-list>
                    <mat-list-item (click)="navigateTo('home')">{{'HEADER.home' | translate}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="navigateTo('collection')">{{'HEADER.collection' | translate}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="navigateTo('blog')">{{'HEADER.blog' | translate}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="navigateTo('collection/1')">{{'HEADER.catalog' | translate}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="navigateTo('about-us')">{{'HEADER.about-us' | translate}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="navigateTo('contact-us')">{{'HEADER.contact-us' | translate}}</mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="app-mat-drawer-content">        
        <div class="app-content">
            <app-header></app-header>
            <router-outlet></router-outlet>            
        </div>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>