.app-container{
    .app-mat-drawer{
        width: 250px;
        .app-menu{
            .app-menu-header{
                display: flex;
                justify-content: end;
                align-items: center;
            }
        }
    }
}