.failure-page-container {
    display: flex;
    justify-content: center;

    .failure-page-content {
        display: flex;
        margin: 150px 0;
        justify-content: space-between;
        align-items: center;
        .failure-page-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .failure-page-title{
                font-size: 24px;
                font-weight: bold;
                color: #333;                
            }
            .failure-page-description{
                font-size: 16px;
                line-height: 1.5;
                color: #666;                
            }
        }
    }

    @media (min-width: 1230px) {
        .failure-page-content {
            max-width: 1200px;
        }
    }

    @media (max-width: 992px) {
        .failure-page-content {
            max-width: 960px;
        }
    }

    @media (max-width: 768px) {
        .failure-page-content {
            max-width: 720px;
            flex-direction: column-reverse;
        }
    }

    @media (max-width: 576px) {
        .failure-page-content {
            max-width: 540px;
            flex-direction: column-reverse;
        }
    }
}