<div class="delivery-container">
    <div class="delivery-content">
        <h1 class="delivery-title">{{ 'DELIVERY-INFO.title' | translate }}</h1>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-one' | translate }}
        </p>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-two' | translate }}
        </p>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-three' | translate }}
        </p>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-four' | translate }}
        </p>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-five' | translate }}
        </p>
        <p class="delivery-paraph">
            {{ 'DELIVERY-INFO.paraph-six' | translate }}
        </p>
    </div>
</div>
