<div class="footer-container">
    <div class="footer-content">
        <div class="footer-customer-service">
            <div class="footer-item">
                <p class="footer-itme-title">Servicio al cliente</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Lunes a Viernes</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">10am a 6:30pm (Hora local México)</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">+52 (55) 5555-5555</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">atención-cliente@axtec.com</p>
            </div>
        </div>
        <div class="footer-customer-account">
            <div class="footer-item">
                <p class="footer-itme-title">Cuenta de usuario</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Mi cuenta</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Mi dirección</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Mi carro</p>
            </div>
        </div>
        <div class="footer-main-menu">
            <div class="footer-item">
                <p class="footer-itme-title">Menú principal</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Inicio</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Catalogo</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Blog</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Sobre nosotros</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">Contactanos</p>
            </div>
        </div>
        <div class="footer-newsletter">
            <div class="footer-item">
                <p class="footer-itme-title">Noticias</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">¡Tendencias, novedades, ofertas, suscríbete a nuestra newsletter y disfruta de rebajas exclusivas!
                </p>
            </div>
            <div class="footer-item">
                <mat-form-field class="footer-email-input" appearance="outline">
                    <input type="email" matInput placeholder="Introduzca su correo electrónico">
                </mat-form-field>

                <button mat-flat-button color="primary">Inscribirse</button>
            </div>
        </div>
    </div>
</div>