<div class="footer-container">
    <div class="footer-content">
        <div class="footer-customer-service">
            <div class="footer-item">
                <p class="footer-itme-title">{{ 'FOOTER.customer-service' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.atention-days' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.atention-schedules' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.atention-phone' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.atention-email' | translate }}</p>
            </div>
        </div>
        <div class="footer-customer-account">
            <div class="footer-item">
                <p class="footer-itme-title">{{ 'FOOTER.user-account' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.my-account' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.my-address' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.my-cart' | translate }}</p>
            </div>
        </div>
        <div class="footer-main-menu">
            <div class="footer-item">
                <p class="footer-itme-title">{{ 'FOOTER.main-menu' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'HEADER.home' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'HEADER.catalog' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'HEADER.blog' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'HEADER.about-us' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'HEADER.contact-us' | translate }}</p>
            </div>
        </div>
        <div class="footer-newsletter">
            <div class="footer-item">
                <p class="footer-itme-title">{{ 'FOOTER.news' | translate }}</p>
            </div>
            <div class="footer-item">
                <p class="footer-item-text">{{ 'FOOTER.trends' | translate }}</p>
            </div>
            <div class="footer-item">
                <mat-form-field class="footer-email-input" appearance="outline">
                    <input type="email" matInput placeholder="{{ 'FOOTER.enter-email' | translate }}">
                </mat-form-field>

                <button mat-flat-button color="primary">{{ 'FOOTER.subscribe' | translate }}</button>
            </div>
        </div>
    </div>
</div>